
html {
	height: 100%;
}

body {
	background-color: white;
	min-height: 100%;
}


.container {
	max-width: 980px;
}


.list-group-item {
	padding: 8px;
}

.navbar {
   background-color: transparent;
   background: rgba(0, 0, 0, 0.5);
   border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
	color: rgba(255,255,255,0.5);
}

.navbar-nav li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}


.index-main {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: white;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	padding: 40px 15px;
	text-align: center;
}

.footer {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-top: 100px;
	text-align: center;
	width: 100%;
}

.fh2 {
	color: rgba(255,255,255, 0.85);
	font-weight: 300;
	padding-left: 10px;
	padding-top: 0px;
	margin-top: 0px;
}

.fh3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-left: 10px;
	padding-top: 0px;
	margin-top: 0px;
}

.fhs {
	margin-top: 30px;
}

.fh5 a {
	text-decoration: underline;
}

.fh5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-left: 10px;
	padding-top: 0px;
	margin-top: 0px;
	
}

.feat {
	padding: 50px 0px 0px 0px;
	border-width: 0px 0px 1px 0px;
}

.gal_feat {
	text-align: center;
}

.feat p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	padding: 0px 10px 0px 10px;
	color: black;
}

.gal_1 {
}
.gal_1 p {
}

.gal_2 {
}
.gal_2 p {
	color: black;
}

.home_container {

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.17, #00215E),
	color-stop(0.77, #388CBD),
	color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #00215E 17%, #388CBD 77%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #00215E 17%, #388CBD 77%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #00215E 17%, #388CBD 77%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #00215E 17%, #388CBD 77%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #00215E 17%, #388CBD 77%, #FFFFFF 100%);

	width: 100%;
	height: 500px;
}

.gray_container {
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #969696),
	color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #969696 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #969696 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #969696 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #969696 0%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #969696 0%, #FFFFFF 100%);

	width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;

}

.green_container {

	linear,
	left top,
	left bottom,
	color-stop(0, #008A75),
	color-stop(0.59, #FFD95E),
	color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #008A75 0%, #FFD95E 59%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #008A75 0%, #FFD95E 59%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #008A75 0%, #FFD95E 59%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #008A75 0%, #FFD95E 59%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #008A75 0%, #FFD95E 59%, #FFFFFF 100%);

	width: 100%;
	background-size: 100% 1500px;
	background-repeat: no-repeat;
}


.purple_container {

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #680D78),
	color-stop(0.65, #FF2487),
	color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #680D78 0%, #FF2487 65%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #680D78 0%, #FF2487 65%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #680D78 0%, #FF2487 65%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #680D78 0%, #FF2487 65%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #680D78 0%, #FF2487 65%, #FFFFFF 100%);

	width: 100%;
	background-size: 100% 800px;
	background-repeat: no-repeat;
}


.blue_container {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #355FB5),
	color-stop(0.36, #37A2BF),
	color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #355FB5 0%, #37A2BF 36%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #355FB5 0%, #37A2BF 36%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #355FB5 0%, #37A2BF 36%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #355FB5 0%, #37A2BF 36%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #355FB5 0%, #37A2BF 36%, #FFFFFF 100%);

	width: 100%;
	background-size: 100% 1200px;
	background-repeat: no-repeat;
}

.feat_1 {
}
.feat_1 p {
	color: rgba(255,255,255,0.7);
}

.feat_2 {
}
.feat_2 p {
	color: rgba(255,255,255,0.7);
}

.feat_3 {
}
.feat_3 p, .feat_3 ul {
}

.feat_4 {
}
.feat_4 p, .feat_4 ul {
}

.centerh {
	text-align: center;
	margin-bottom: 10px;
}

.whitepage h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 32px;
}

.whitepage {
	background-color: white;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.whitepage h4 {
	margin-top: 30px;
}

.whitepage h5 {
	margin-top: 20px;
	font-size: 16px;
	color: gray;
}


.gal_feat_detail {
	text-align: left;
	padding: 30px;
	margin: 0px 0px 0px 0px;
}

.gal_feat_detail h5 {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

code {
	font-size: 12px;
}

.codeh {
	color: #ababab;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.download-item {
	font-size: 16px;
	
}

.inherit {
        display: none;
}

.comm_top {
	background-color: #1b1b1b;
	height: 45px;
	padding-top: 10px;
	color: white;
}

.comm_cell {
	text-align: center;
}

.limg_l {
	float: left;
	margin: 5px 20px 5px 20px;
}

.limg_r {
	float: right;
	margin: 5px 20px 5px 20px;
}

.limg_c {
	margin: 5px auto 20px auto;
	display: block;
}
